.main{
    width: fit-content;
    height: fit-content;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
}
input{
    width: 500px;
    height: 100px;
    text-align: right;
    font-family: monospace;
    font-size: 3rem;
}
button{
    width: 80px;
    height: 50px;
}
.btn-mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.btn-mid > button{
    width: 45px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}
.btn-bt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.btn-bt > button{
    border-radius: 5px;
    margin: 5px;
}
.btn-r{
    border: 2px solid black;
}
.btn-r > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.btn-r3{
    margin: 0px 0px 0px 900px;
}
