.main{
    width: fit-content;
    height: fit-content;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
}
input{
    width: 500px;
    height: 100px;
    text-align: right;
    font-family: monospace;
    font-size: 3rem;
}
button{
    width: 80px;
    height: 50px;
}
.btn-mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.btn-bt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.btn-r > button{
    border-radius: 50%;
}
